@media print {
  .col-md-8, .col-md-6, .col-md-4, .col-md-2 {
    float: left;
  }
  .col-md-8 {
    width: 75%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-4 {
    width: 25%;
  }
  .col-md-2 {
    width: 16%;
  }
  .input-group-addon, .help-block {
    display: none;
  }
  .has-warning .form-control {
    border-color: #ccc !important;
  }
  select.form-control {
    appearance: none;
  }
  .label-content {
    width: 38em;
  }
  .formbar-conditional.inactive {
    opacity: 1 !important;
  }
}
